node_modules
npm-debug.log
.git
.gitignore
README.md
.env
Dockerfile
.dockerignore
concerns/
.vscode/
tests/
storage/logs/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*